@import "tailwindcss";
@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
}

.info-img {
  background-image: url("../public/info-mobile.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 327px;
  height: 300px;
}

.hero-img {
  background-image: url("../public/hero-mobile.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-img {
  background-image: url("../public/mobile1.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 327px;
  height: 600px;
}
.second-img {
  background-image: url("../public/mobile2.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 327px;
  height: 320px;
}
.third-img {
  background-image: url("../public/mobile3.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 327px;
  height: 200px;
}

@media (min-width: 375px) {
  .info-img {
    background-image: url("../public/info-res.png");
    width: 689px;
    height: 300px;
  }

  .first-img {
    background-image: url("../public/mobile-img.svg");
    width: 689px;
    height: 720px;
  }

  .second-img {
    background-image: url("../public/mobile-img2.svg");
    width: 689px;
    height: 320px;
  }
  .third-img {
    background-image: url("../public/mobile-img3.svg");
    width: 339px;
    height: 320px;
  }
}
@media (min-width: 768px) {
  .info-img {
    background-image: url("../public/info.png");
    width: 540px;
    height: 588px;
  }
  .hero-img {
    background-image: none;
  }

  .first-img {
    background-image: url("../public/first-desktop.svg");
    width: 1110px;
    height: 560px;
  }

  .second-img {
    background-image: url("../public/second-desktop.svg");
    width: 1110px;
    height: 320px;
  }
  .third-img {
    background-image: url("../public/third-desktop.svg");
    width: 540px;
    height: 320px;
  }
}
